<template>
  <v-flex pt-5>
    <h1>Добавление: {{noun}}</h1>
    <Create
      endPoint="/services"
      @created="redirectToEdit"
      :key="$route.fullPath"
      schemaName="service-create"
    />
  </v-flex>
</template>

<script>
import Create from '@/components/Create'

export default {
  name: 'ServiceCreate',
  data: () => ({
    noun: 'Услуги'
  }),
  components: {
    Create
  },
  methods: {
    redirectToEdit(id) {
      this.$router.push({ name: 'service-edit', params: { id } })
    }
  }
}
</script>
