<template>
  <v-app color="primary">
    <Toolbar :short="true"/>
    <v-container>
      <v-layout row wrap>
        <router-view :key="$route.fullPath"/>
      </v-layout>
    </v-container>
    <v-footer class="pa-3">
      <v-spacer></v-spacer>
      <div>&copy;{{ new Date().getFullYear() }} - Russia, Chita, Globalintercom Company</div>
    </v-footer>
  </v-app>
</template>

<script>
import Toolbar from '@/components/Toolbar.vue'

export default {
  components: {
    Toolbar
  }
}
</script>

<style>
</style>
