<template>
  <v-flex pt-5>
    <v-layout align-start justify-space-between>
      <h1>{{title}}</h1>
    </v-layout>
    <DataGrid
      :title="title"
      :endPoint="endPoint"
      :key="$route.fullPath"
      :editable="false"
      schemaName="file-list"
      class="mt-4"
    />
  </v-flex>
</template>

<script>
import DataGrid from '@/components/DataGrid'

export default {
  name: 'Files',
  components: {
    DataGrid
  },
  data: () => ({
    title: 'Файлы',
    endPoint: '/files'
  })
}
</script>
