.box-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.box-image img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.box-content {
  flex-direction: column;
}

.man-box-title {
  margin-top: 30px;
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #fff;
}

.box-description {
  margin-top: 30px;
  line-height: 1.4;
  color: #fff;
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
}

.box-description p + p {
  margin-top: 30px;
}

.box-button {
  margin-top: 40px;
}
