.breadcrumbs-item {
  font-family: Days, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: rgb(10, 183, 229);
  text-decoration: none;
}

.breadcrumbs-item:hover span {
  text-decoration: underline;
}

.breadcrumbs-item-unactive {
  color: #56575a;
}

.breadcrumbs-item .fas {
  margin-left: 20px;
  margin-right: 20px;
}
