.button {
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: rgb(10, 183, 229);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: inline-flex;
  padding: 0 50px;
  letter-spacing: 0.5px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-family: Days, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background: rgb(48, 136, 161);
}
