.callme {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.callme-logo {
    width: 560px;
}

.callme-logo img {
    max-width: 100%;
}

.callme-phone {
    padding: 0 40px;
    display: flex;
    align-items: center;
}