.content-box {
  flex-direction: column;
}

.content-box-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
  margin-top: 30px;
  line-height: 1.2;
}

.content-box-body {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.content-box-body p + p {
  margin-top: 30px;
}

.content-box-body b {
  font-weight: bold;
}
