.contacts {
  flex-direction: column;
  margin-top: 50px;
}

.contacts-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
}

.contacts {
  flex-direction: column;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contacts-column {
  width: 48%;
}

.contact-block {
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

.contact-block + .contact-block {
  margin-top: 30px;
}

.contact-block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  color: #3c3c3b;
}

.contact-block-info {
  margin-top: 15px;
}

.contact-block-info b {
  font-weight: bold;
}

.contact-block-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
}

.contact-block-item {
  margin-top: 5px;
}

.contact-block-item b {
  font-weight: bold;
}

.contact-block-item .fas {
  margin-right: 10px;
  font-weight: bold;
  color: #0ab7e5;
}

.contact-block-box {
  margin-top: 10px;
}
