.footer {
  margin-top: -380px;
  height: 380px;
  position: relative;
  background: #082034;
  font-family: Days, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer .container {
  flex-direction: column;
}

.footer-menu-middle {
  display: flex;
  width: 100%;
}

.footer-menu {
  flex-direction: column;
  margin-right: 125px;
  margin-top: 50px;
}

.footer-contacts {
  margin-left: auto;
  margin-right: 0;
  max-width: 330px;
}

.footer-menu-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer-menu-link,
.footer-menu-item {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.footer-menu-link .fas,
.footer-menu-item .fas {
  margin-right: 10px;
}

.footer-copyright {
  width: 100%;
  padding: 20px 0;
  margin-top: 50px;
  font-size: 12px;
  border-top: 2px solid #fff;
}
