.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 470px;
  max-height: 100%;
}

.logo img {
  max-width: 470px;
  height: 70px;
}

.main-menu {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.main-menu a {
  font-family: Days, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #3c3c3b;
  margin-left: 30px;
  text-decoration: none;
}

.main-menu a:hover {
  color: rgba(60, 60, 59, 0.5);
}

.phone {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.phone-icon {
  color: #3c3c3b;
  font-size: 20px;
  font-weight: bold;
}

.phone-number {
  color: #3c3c3b;
  font-size: 20px;
  margin-left: 20px;
  font-family: Days, Helvetica, sans-serif;
}
