.list {
  margin-top: 50px;
  flex-direction: column;
}

.list-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
}

.list-list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  width: 30%;
  margin-right: 3%;
  margin-top: 30px;
}

.list-item-image {
  text-decoration: none;
}

.list-item-image:hover img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.list-item-image img {
  max-width: 100%;
}

.list-item-title {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
  line-height: 1.4;
}
