.map {
  margin-top: 100px;
}

.map-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
}

.map-content {
  border-top: 10px solid #082034;
  height: 400px;
  margin-top: 30px;
}
