.overlay.show {
    display: flex;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 600px;
    box-sizing: content-box;
    padding: 80px 50px 50px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    z-index: 101;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

.modal-title {
    font-family: Days, Helvetica, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 25px;
    line-height: 1.4;
    color: #0AB7E5;
    text-align: center;
}

.modal-subtitle {
    color: #3C3C3B;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.modal-message-error {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1;
    padding: 20px 40px;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: none;
}

.modal-message-success {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1;
    padding: 20px 40px;
    border-radius: 4px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    display: none;
}

.modal-message-error.show, .modal-message-success.show {
    display: block;
}

.modal-input {
    margin-top: 20px;
    position: relative;
}

.modal-input input[type="text"], .modal-input input[type="email"], .modal-input input[type="number"] {
    background: #F3F3F3;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    width: 100%;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #3C3C3B;
}

.modal-input input[type="text"]::-webkit-input-placeholder,
.modal-input input[type="email"]::-webkit-input-placeholder,
.modal-input input[type="number"]::-webkit-input-placeholder
{
    font-size: 16px;
    line-height: 60px;
    color: #3C3C3B;
}

.modal-input input[type="text"]:-moz-placeholder,
.modal-input input[type="email"]:-moz-placeholder,
.modal-input input[type="number"]:-moz-placeholder
{
    font-size: 16px;
    line-height: 60px;
    color: #3C3C3B;
}

.modal-input input[type="submit"] {
    height: 60px;
    line-height: 60px;
    color: #fff;
    background: rgb(10, 183, 229);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-family: Days, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    text-indent: -99999px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.checkbox .checkbox-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    background: #F3F3F3;
    border-radius: 4px;
}

.checkbox .checkbox-trigger:after {
    display: none;
    content: '✔';
    position: absolute;
    top: 7px;
    left: 4px;
    font-size: 30px;
    color: #3C3C3B;
}

.checkbox .checkbox-label {
    color: #3C3C3B;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-trigger:after {
    display: inline-block;
}