.product-item {
  display: flex;
  width: 370px;
  border-top: 10px solid #fff;
  flex-direction: column;
}

.product-item-image {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.product-item-image img {
  width: 370px;
  background-color: #f6f6f6;

  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.product-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1.4;
  padding: 30px;
  font-family: Days, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.product-item-image img {
  width: 100%;
  height: 260px;
}

.product-item-button {
  margin-top: 30px;
}

.product-item-button .button {
  text-decoration: none;
  font-family: Days, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
