.services-preview {
  direction: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.services-preview-caption {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
}

.services-preview-item-title {
  font-family: Days, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3c3c3b;
  line-height: 1.4;
}

.services-preview-item {
  margin-top: 30px;
  display: flex;
}

.services-preview-item-image {
  width: 570px;
  min-width: 570px;
}

.services-preview-item-image img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  width: 570px;
}

.services-preview-item-description {
  margin-left: 50px;
}

.services-preview-item-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #3c3c3b;
  margin-top: 10px;
}

.services-preview-item p + p {
  margin-top: 5px;
}

.services-preview-item-button {
  margin-top: 30px;
}
