.service-preview {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  height: 300px;
  border-top: 10px solid #fff;
}

.service-preview-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
