.sub-header-item {
  font-family: Days, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.sub-header-item:hover span {
  text-decoration: underline;
}

.sub-header-item-unactive {
  color: rgba(255, 255, 255, 0.5);
}

.sub-header-item .fas {
  margin-left: 20px;
  margin-right: 20px;
}
