<template>
  <v-flex pt-5>
    <h1>Редактирование: {{noun}}</h1>
    <Edit
      endPoint="/products"
      :id="$route.params.id"
      :key="$route.fullPath"
      schemaName="product-edit"
    />
  </v-flex>
</template>

<script>
import Edit from '@/components/Edit'

export default {
  name: 'ProductEdit',
  data: () => ({
    noun: 'Продукта'
  }),
  components: {
    Edit
  }
}
</script>
