<template>
  <v-flex pt-5>
    <h1>Добавление: {{$route.params.type}} {{noun}}</h1>
    <Create
      :endPoint="`/infos/${$route.params.type}`"
      :schemaName="`info-create-${$route.params.type}`"
      @created="redirectToEdit"
      :key="$route.fullPath"
    />
  </v-flex>
</template>

<script>
import Create from '@/components/Create'

export default {
  name: 'InfoCreate',
  data: () => ({
    noun: 'инфоблока'
  }),
  components: {
    Create
  },
  methods: {
    redirectToEdit(id) {
      this.$router.push({ name: 'info-edit', params: { id: String(id) } })
    }
  }
}
</script>
