<template>
  <v-flex pt-5>
    <h1>Редактирование: {{$route.params.type}} {{noun}}</h1>
    <Edit
      :endPoint="`/infos/${$route.params.type}`"
      :id="$route.params.id"
      :key="$route.fullPath"
      :schemaName="`info-edit-${$route.params.type}`"
    />
  </v-flex>
</template>

<script>
import Edit from '@/components/Edit'

export default {
  name: 'InfoEdit',
  data: () => ({
    noun: 'инфоблока'
  }),
  components: {
    Edit
  }
}
</script>
