<template>
  <v-flex>
    <v-flex pt-5>
      <v-layout align-start justify-space-between>
        <h1>{{stringTitle}}</h1>
        <v-btn
          :to="`${stringEndPoint}/create`"
          color="primary"
          dark
          class="text-none"
        >Добавить string инфоблок</v-btn>
      </v-layout>
      <DataGrid
        :title="stringTitle"
        :endPoint="stringEndPoint"
        :key="stringEndPoint"
        schemaName="info-list-string"
        class="mt-4"
      />
    </v-flex>
    <v-flex pt-5>
      <v-layout align-start justify-space-between>
        <h1>{{textTitle}}</h1>
        <v-btn
          :to="`${textEndPoint}/create`"
          color="primary"
          dark
          class="text-none"
        >Добавить text инфоблок</v-btn>
      </v-layout>
      <DataGrid
        :title="textTitle"
        :endPoint="textEndPoint"
        :key="textEndPoint"
        schemaName="info-list-text"
        class="mt-4"
      />
    </v-flex>
    <v-flex pt-5>
      <v-layout align-start justify-space-between>
        <h1>{{htmlTitle}}</h1>
        <v-btn
          :to="`${htmlEndPoint}/create`"
          color="primary"
          dark
          class="text-none"
        >Добавить html инфоблок</v-btn>
      </v-layout>
      <DataGrid
        :title="htmlTitle"
        :endPoint="htmlEndPoint"
        :key="htmlEndPoint"
        schemaName="info-list-html"
        class="mt-4"
      />
    </v-flex>
    <v-flex pt-5>
      <v-layout align-start justify-space-between>
        <h1>{{imageTitle}}</h1>
        <v-btn
          :to="`${imageEndPoint}/create`"
          color="primary"
          dark
          class="text-none"
        >Добавить image инфоблок</v-btn>
      </v-layout>
      <DataGrid
        :title="imageTitle"
        :endPoint="imageEndPoint"
        :key="imageEndPoint"
        schemaName="info-list-image"
        class="mt-4"
      />
    </v-flex>
    <v-flex pt-5>
      <v-layout align-start justify-space-between>
        <h1>{{fileTitle}}</h1>
        <v-btn
          :to="`${fileEndPoint}/create`"
          color="primary"
          dark
          class="text-none"
        >Добавить file инфоблок</v-btn>
      </v-layout>
      <DataGrid
        :title="fileTitle"
        :endPoint="fileEndPoint"
        :key="fileEndPoint"
        schemaName="info-list-file"
        class="mt-4"
      />
    </v-flex>
  </v-flex>
</template>

<script>
import DataGrid from '@/components/DataGrid'

export default {
  name: 'Infos',
  components: {
    DataGrid
  },
  data: () => ({
    stringTitle: 'String инфоблоки',
    fileTitle: 'File инфоблоки',
    imageTitle: 'Image инфоблоки',
    textTitle: 'Text инфоблоки',
    htmlTitle: 'Html инфоблоки',
    stringEndPoint: '/infos/string',
    fileEndPoint: '/infos/file',
    imageEndPoint: '/infos/image',
    textEndPoint: '/infos/text',
    htmlEndPoint: '/infos/html',
    stringSchems: '/infos/string',
    fileSchems: '/infos/file',
    imageSchems: '/infos/image',
    textSchema: '/infos/text',
    htmlSchema: '/infos/html'
  })
}
</script>
