<template>
  <v-chip
    :color="value ? 'green' : 'red'"
    text-color="white"
    label
    small
  >{{value ? "активен" : "не активен"}}</v-chip>
</template>

<script>
export default {
  name: 'ActiveLabel',
  props: {
    value: {
      type: [Boolean, Number],
      require: true,
      default: false
    }
  }
}
</script>
