<template>
  <div>
    <v-progress-linear v-show="loading" color="primary" :indeterminate="loading"></v-progress-linear>
    <Message/>
    <Form
      :fields="formFields"
      :schema="schema"
      @submit="submit"
      @updateField="updateField"
      submitTitle="Добавить"
    />
  </div>
</template>

<script>
import Vue from 'vue'

import * as API from '@/api'
import Form from '@/components/Form'
import Message from '@/components/Message'

const INITIAL_STATE = {
  loading: true,
  form: {},
  schema: []
}

export default {
  name: 'Create',
  components: {
    Form,
    Message
  },
  data: () => ({ ...INITIAL_STATE }),
  props: {
    schemaName: {
      type: String,
      require: true
    },
    endPoint: {
      type: String,
      require: true
    }
  },
  created() {
    this.fetch()
  },
  computed: {
    formFields() {
      const temp = []

      for (let i = 0; i < this.schema.length; i++) {
        const field = this.schema[i]
        const value = field.defaultValue
        const fieldData = Object.assign({}, field, { value })

        temp.push(fieldData)
      }

      return temp
    }
  },
  methods: {
    async fetch() {
      const schema = await API.getSchema(this.schemaName)

      if (schema) {
        this.updateFormSchema(schema)
      }

      this.loading = false
    },
    async create() {
      const id = await API.create(this.endPoint, this.form)

      if (id) {
        this.$emit('created', id)
      }
    },
    updateFormSchema(data) {
      Vue.set(this, 'schema', data)
    },
    updateField({ name, value }) {
      Vue.set(this.form, name, value)
    },
    submit() {
      this.create()
    }
  }
}
</script>

<style scoped>
</style>
