<template>
  <div>
    <v-img :src="src" :lazy-src="src" aspect-ratio="1" class="grey">
      <template v-slot:placeholder>
        <v-layout fill-height align-center justify-center ma-0>
          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
        </v-layout>
      </template>
    </v-img>
  </div>
</template>

<script>
export default {
  name: 'CustomImage',
  props: {
    src: {
      type: String,
      default: ''
    }
  }
}
</script>
