<template>
  <v-flex>
    <v-progress-linear v-show="loading" color="primary" :indeterminate="loading"></v-progress-linear>
    <v-card v-if="schema.length">
      <v-data-table
        :headers="getColumsHeaders(schema)"
        :items="items"
        :search="search"
        :loading="loading"
        :rows-per-page-items="rowsPerPageItems"
        rows-per-page-text="Элементов на странице"
      >
        <template v-slot:items="props">
          <td
            v-for="(field, index) in schema"
            :key="index"
            class="text-xs-left"
            :class="{'width-300': htmlField(field.name)}"
          >
            <Link
              v-if="slugLinkField(field.name)"
              target="_blank"
              :simple="true"
              :link="genPreviewUrl(props.item[field.name])"
              :title="props.item[field.name]"
            />
            <template v-if="fileLinkField(field.name)">
              <Link
                target="_blank"
                :simple="true"
                :link="genFileUrl(props.item[field.name])"
                :title="props.item[field.name]"
              />
              <ThumbImage v-if="isImageUrl(props.item.extname)" :src="genFileUrl(props.item[field.name])"/>
            </template>
            <Link
              v-if="editLinkField(field.name)"
              :link="`${endPoint}/edit/${props.item.id}`"
              :title="props.item[field.name]"
            />
            <OrderType v-if="orderTypeField(field.name)" :type="props.item[field.name]" :typeId="props.item.type_id"/>
            <ThumbImage v-if="imageField(field.name)" :src="genFileUrl(props.item[field.name])"/>
            <ActiveLabel v-if="checkboxField(field.name)" :value="props.item[field.name]"/>
            <span v-if="labelField(field.name)">{{props.item[field.name]}}</span>
            <span v-if="sizeField(field.name)">{{convertSize(props.item[field.name])}}</span>
            <div v-if="htmlField(field.name)">{{props.item[field.name]}}</div>
          </td>
          <td class="text-xs-right">
            <v-menu bottom left>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                  <v-icon>more_vert</v-icon>
                </v-btn>
              </template>
              <v-list dark>
                <v-list-tile v-if="editable" :to="`${endPoint}/edit/${props.item.id}`">
                  <v-list-tile-title>Редактировать</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="deleteItem($event, props.item.id)">
                  <v-list-tile-title>Удалить</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </template>
        <template v-slot:no-data>
          <v-flex>{{title}} не найдены</v-flex>
        </template>
        <template v-slot:no-results :value="true" color="error" icon="warning">
          По запросу
          <b>"{{ search }}"</b> ничего не найдено.
        </template>
      </v-data-table>
    </v-card>
    <v-snackbar v-model="snackbarShow" :timeout="snackbarTimeout" top="top" color="success">
      {{snackbarText}}
      <v-btn flat @click="snackbarShow = false" dark>Закрыть</v-btn>
    </v-snackbar>
  </v-flex>
</template>

<script>
import Vue from 'vue'
import bytes from 'bytes'
import CONFIG from '@/config'
import * as API from '@/api'

import ThumbImage from '@/components/ThumbImage'
import ActiveLabel from '@/components/ActiveLabel'
import Link from '@/components/Link'
import OrderType from '@/components/OrderType'

const DEFAULT_ROWS_PER_PAGE_ITEMS = [20, 50, { text: 'Все', value: -1 }]
const ACTIONS_TABLE_COLUMN_HEADER = { text: 'Действия', sortable: false, align: 'center' }
const INITIAL_STATE = {
  loading: true,
  search: '',
  items: [],
  snackbarShow: false,
  snackbarText: 'Message',
  snackbarTimeout: 3000,
  schema: []
}

export default {
  name: 'DataGrid',
  components: {
    ThumbImage,
    ActiveLabel,
    Link,
    OrderType
  },
  data: () => ({ ...INITIAL_STATE }),
  props: {
    rowsPerPageItems: {
      type: Array,
      default: () => DEFAULT_ROWS_PER_PAGE_ITEMS
    },
    title: {
      type: String,
      default: ''
    },
    endPoint: {
      type: String,
      require: true
    },
    schemaName: {
      type: String,
      require: true
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  created() {
    if (!this.endPoint) return
    this.fetch()
  },
  methods: {
    async fetch() {
      const schema = await API.getSchema(this.schemaName)
      const response = await API.getList(this.endPoint)

      if (schema && response) {
        this.updateFormSchema(schema)
        this.updateFormData(response)
      }

      this.loading = false
    },
    async deleteItem(event, id) {
      await API.del(this.endPoint, id)

      this.snackbarText = 'Успешно удалено'
      this.snackbarShow = true
      this.fetch(this.endPoint)
    },
    getColumsHeaders(fields = []) {
      const temp = []

      for (let i = 0; i < fields.length; i++) {
        const field = {}

        field.text = fields[i].label || 'unknown'
        field.align = 'left'
        field.sortable = fields[i].name === 'id' || fields[i].name === 'position'
        field.value = fields[i].name || 'unknown'

        temp.push(field)
      }

      return [...temp, ACTIONS_TABLE_COLUMN_HEADER]
    },
    updateFormSchema(data) {
      Vue.set(this, 'schema', data)
    },
    updateFormData(data) {
      Vue.set(this, 'items', data)
    },
    getFieldTypeByName(name) {
      const DEFAULT = { type: 'unknown' }
      const field = this.schema.filter(item => item.name === name)[0] || DEFAULT

      return field.type
    },
    genFileUrl(value) {
      return CONFIG.serverHost + value
    },
    genPreviewUrl(value) {
      return `${CONFIG.serverHost}${this.endPoint}/${value}`
    },
    editLinkField(name) {
      return this.getFieldTypeByName(name) === 'editLink'
    },
    slugLinkField(name) {
      return this.getFieldTypeByName(name) === 'slugLinkField'
    },
    fileLinkField(name) {
      return this.getFieldTypeByName(name) === 'fileLinkField'
    },
    imageField(name) {
      return this.getFieldTypeByName(name) === 'image'
    },
    labelField(name) {
      return this.getFieldTypeByName(name) === 'labelField'
    },
    sizeField(name) {
      return this.getFieldTypeByName(name) === 'sizeField'
    },
    htmlField(name) {
      return this.getFieldTypeByName(name) === 'html'
    },
    checkboxField(name) {
      return this.getFieldTypeByName(name) === 'checkbox'
    },
    dateField(name) {
      return this.getFieldTypeByName(name) === 'dateLabel'
    },
    orderTypeField(name) {
      return this.getFieldTypeByName(name) === 'orderTypeField'
    },
    convertSize(value) {
      return bytes(value, { thousandsSeparator: ' ' })
    },
    isImageUrl(ext) {
      return ['jpg', 'png', 'jpeg', 'gif'].includes(ext)
    }
  }
}
</script>
<style scoped>
.width-300 {
  min-width: 300px;
}
</style>
