<template>
  <div>
    <v-progress-linear v-show='loading' color='primary' :indeterminate='loading'></v-progress-linear>
    <Message/>
    <Form :fields='formFields' @updateField='updateField' @submit='save' :endPoint='endPoint' submitTitle='Сохранить'/>
  </div>
</template>

<script>
import Vue from 'vue'

import * as API from '@/api'
import Form from '@/components/Form'
import Message from '@/components/Message'

const INITIAL_STATE = {
  loading: true,
  form: {},
  schema: []
}

export default {
  components: {
    Form,
    Message
  },
  data: () => ({ ...INITIAL_STATE }),
  props: {
    endPoint: {
      type: String,
      require: true
    },
    id: {
      type: String,
      require: true
    },
    schemaName: {
      type: String,
      require: true
    }
  },
  created() {
    this.fetch()
  },
  computed: {
    formFields() {
      const temp = []

      for (let i = 0; i < this.schema.length; i++) {
        const field = this.schema[i]
        const value = this.form[field.name] || field.defaultValue
        const fieldData = Object.assign({}, field, { value })

        temp.push(fieldData)
      }

      return temp
    }
  },
  methods: {
    async fetch() {
      const schema = await API.getSchema(this.schemaName)
      const response = await API.get(this.endPoint, this.id)

      if (schema && response) {
        this.updateFormSchema(schema)
        this.updateFormData(response)
      }

      this.loading = false
    },
    async save() {
      const saved = await API.save(this.endPoint, this.id, this.form)

      if (saved) {
        this.successSaveMessage()
        this.fetch()
      }
    },
    updateFormSchema(data) {
      Vue.set(this, 'schema', data)
    },
    updateFormData(data) {
      Vue.set(this, 'form', data)
    },
    updateField({ name, value }) {
      Vue.set(this.form, name, value)
    },
    successSaveMessage() {
      this.$store.dispatch('ADD_SUCCESS_MESSAGE', 'Сохранено')
    }
  }
}
</script>

<style scoped>
</style>
