<template>
  <uploader :relativePath="value" @change="change" class="file-uploader">
    <template v-slot:default="props">
      <v-flex grow>
        <Link
          target="_blank"
          :simple="true"
          :link="props.filePath"
          :title="props.filePath"
        />
    </v-flex>
    </template>
  </uploader>
</template>

<script>
import Uploader from '@/components/Uploader'
import Link from '@/components/Link'

export default {
  name: 'FileUploader',
  components: {
    Uploader,
    Link
  },
  props: {
    src: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    value: ''
  }),
  created() {
    this.value = this.src
  },
  methods: {
    change(value) {
      this.$emit('change', value)
    }
  }
}
</script>

<style scoped>
.file-uploader {
  margin-bottom: 30px;
}
.img {
  height: 200px;
  width: 200px;
}
</style>
