<template>
  <form class="mt-4">
    <div v-for="(item, index) in fields" :key="index">
      <p v-if="item.type === 'labelField'">
        {{item.name}}:
        <code>{{item.value}}</code>
      </p>
      <template v-if="item.name === 'slug'">
         <v-layout row>
          <v-flex grow>
            <v-text-field
              v-if="item.type === 'text'"
              @input="change($event, item)"
              :value="item.value"
              :label="item.label"
              :disabled="item.disabled"
              outline
            ></v-text-field>
          </v-flex>
          <v-flex shrink >
            <v-btn depressed large color="primary" :href="genPreviewUrl(item.value)" target="_blank">Просмотреть</v-btn>
          </v-flex>
        </v-layout>
      </template>
      <template v-else>
        <v-text-field
          v-if="item.type === 'text'"
          @input="change($event, item)"
          :value="item.value"
          :label="item.label"
          :disabled="item.disabled"
          outline
        ></v-text-field>
      </template>
      <v-switch
        v-if="item.type === 'checkbox'"
        @change="change($event, item)"
        :inputValue="item.value"
        :label="item.label"
      ></v-switch>
      <v-text-field
        v-if="item.type === 'number'"
        @input="change($event, item)"
        :value="item.value"
        :label="item.label"
        :disabled="item.disabled"
        outline
        type="number"
      ></v-text-field>
      <v-text-field
        v-if="item.type === 'link'"
        @input="change($event, item)"
        :value="item.value"
        :label="item.label"
        :disabled="item.disabled"
        outline
        type="link"
      ></v-text-field>
      <ImageUploader v-if="item.type === 'image'" @change="change($event, item)" :src="item.value"></ImageUploader>
      <FileUploader v-if="item.type === 'file'" @change="change($event, item)" :src="item.value"></FileUploader>
      <v-textarea
        v-if="item.type === 'textarea'"
        @input="change($event, item)"
        :value="item.value"
        :label="item.label"
        :disabled="item.disabled"
        outline
      ></v-textarea>
      <ckeditor
        v-if="item.type === 'textHtml'"
        @input="change($event, item)"
        :editor="editor"
        :value="item.value"
      ></ckeditor>
      <MonacoEditor
        v-if="item.type === 'html'"
        @change="change($event, item)"
        :value="item.value"
        language="html"
        class="monako-editor"
      ></MonacoEditor>
      <v-select
        v-if="item.type === 'select'"
        @input="change($event, item)"
        :value="item.value"
        :items="item.options"
        :label="item.label"
        :disabled="item.disabled"
        outline
      ></v-select>
    </div>
    <v-btn @click="submit" color="success" large>{{submitTitle}}</v-btn>
  </form>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import MonacoEditor from 'vue-monaco'
import CONFIG from '@/config'

import ImageUploader from '@/components/ImageUploader'
import FileUploader from '@/components/FileUploader'

export default {
  components: {
    MonacoEditor,
    ImageUploader,
    FileUploader
  },
  props: {
    submitTitle: {
      type: String,
      default: 'Submit'
    },
    fields: {
      type: Array,
      default: () => []
    },
    endPoint: {
      type: String,
      require: true
    }
  },
  data: () => ({
    editor: ClassicEditor,
    cmOptionsHtml: {
      mode: 'text/html',
      gutters: ['CodeMirror-lint-markers'],
      theme: 'material',
      lineNumbers: true,
      lint: true
    },
    mHtml: '<div>TEST</div>'
  }),
  methods: {
    submit() {
      this.$emit('submit')
    },
    change(value, { name }) {
      this.$emit('updateField', { name, value })
    },
    genPreviewUrl(value) {
      return `${CONFIG.serverHost}${this.endPoint}/${value}`
    }
  }
}
</script>

<style>
.ck.ck-editor {
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
}

.ck-content {
  min-height: 400px;
}

.monako-editor {
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  width: 100%;
  height: 800px;
  position: relative;
}
</style>
