<template>
  <uploader :relativePath="value" @change="change" accept="image/jpeg,image/png,image/gif," class="image-uploader">
    <template v-slot:default="props">
      <CustomImage :src="props.filePath" class="img"/>
    </template>
  </uploader>
</template>

<script>
import Uploader from '@/components/Uploader'
import CustomImage from '@/components/CustomImage'

export default {
  name: 'ImageUploader',
  components: {
    Uploader,
    CustomImage
  },
  props: {
    src: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    value: ''
  }),
  created() {
    this.value = this.src
  },
  methods: {
    change(value) {
      this.$emit('change', value)
    }
  }
}
</script>

<style scoped>
.image-uploader {
  margin-bottom: 30px;
}
.img {
  height: 200px;
  width: 200px;
}
</style>
