<template>
  <span>
    <template v-if="simple">
      <span class="simple">
        <v-icon class="simple-icon" :small="true">open_in_new</v-icon>
        <a :href="link" :target="target" class="link">{{title}}</a>
      </span>
    </template>
    <template v-else>
      <router-link :to="link" :target="target" class="link">{{title}}</router-link>
    </template>
  </span>
</template>

<script>
export default {
  name: 'Link',
  props: {
    link: {
      type: String,
      require: true
    },
    simple: {
      type: Boolean,
      default: false
    },
    target: {
      type: String,
      default: '_self'
    },
    title: {
      type: [String, Number],
      require: true
    }
  }
}
</script>
<style scoped>
.simple {
  display: flex;
  min-width: 100%;
  flex-basis: 100%;
  align-items: center;
}

.simple-icon {
  margin-right: 5px;
}

.link {
  text-decoration: none;
}
</style>
