<template>
  <div>
    <v-alert :value="validationMessages.length" color="error" icon="warning" outline>
      <div v-for="(item, index) in validationMessages" :key="index">
        <b class="text-uppercase">{{item.field}}</b>
        : {{item.message}}
      </div>
    </v-alert>
    <v-alert
      :value="String(successMessage).length"
      color="success"
      icon="check_circle"
      outline
    >{{successMessage}}</v-alert>
    <v-alert
      :value="String(errorMessage).length"
      color="error"
      icon="warning"
      outline
    >{{errorMessage}}</v-alert>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      validationMessages: ({ validationMessages }) => validationMessages,
      errorMessage: ({ errorMessage }) => errorMessage,
      successMessage: ({ successMessage }) => successMessage
    })
  }
}
</script>
