<template>
  <span>
    <span v-if="type === 'callme'">{{getText()}}</span>
    <template v-else>
      <v-icon class="simple-icon" :small="true">open_in_new</v-icon>
      <a :href="`/${type}s/edit/${this.typeId}`" class="link" target="_blank">{{getText()}}</a>
    </template>
  </span>
</template>

<script>
export default {
  name: 'OrderType',
  props: {
    type: {
      type: String,
      require: true
    },
    typeId: {
      type: Number,
      require: true
    }
  },
  methods: {
    getText() {
      if (this.type === 'service') {
        return 'Заказ услуги'
      }
      if (this.type === 'product') {
        return 'Заказ товара'
      }
      if (this.type === 'callme') {
        return 'Заказ обратного звонка'
      }
    }
  }
}
</script>
<style scoped>
.simple {
  display: flex;
  min-width: 100%;
  flex-basis: 100%;
  align-items: center;
}

.simple-icon {
  margin-right: 5px;
}

.link {
  text-decoration: none;
}
</style>
