<template>
  <v-img
    :src="src"
    :lazy-src="src"
    aspect-ratio="1"
    class="grey lighten-2 image"
    :width="width"
    :height="height"
  />
</template>

<script>
export default {
  name: 'ThumbImage',
  props: {
    src: {
      type: String,
      require: true
    },
    width: {
      type: String,
      default: '60px'
    },
    height: {
      type: String,
      default: '60px'
    }
  }
}
</script>
<style scoped>
.image {
  margin: 10px;
  box-sizing: border-box;
}
</style>
