<template>
  <div>
    <template v-if="imageField()">
      {{extname}}
      <v-img
        :src="src"
        :lazy-src="src"
        aspect-ratio="1"
        class="grey lighten-2 image"
        :width="width"
        :height="height"
      />
    </template>
    <template v-else>
      {{extname}}
    </template>
  </div>
</template>

<script>
export default {
  name: 'ThumbFile',
  props: {
    src: {
      type: String,
      require: true
    },
    extname: {
      type: String,
      require: true
    },
    width: {
      type: String,
      default: '60px'
    },
    height: {
      type: String,
      default: '60px'
    }
  },
  methods: {
    imageField() {
      return ['png', 'jpeg', 'jpg', 'gif'].includes(this.extname)
    }
  }
}
</script>
<style scoped>
.image {
  margin: 10px;
  box-sizing: border-box;
}
</style>
