<template>
  <v-toolbar color="primary">
    <a class="logo" href="/">GBR75.RU</a>
    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat color="white" class="text-none" to="/orders">Заказы</v-btn>
      <v-btn flat color="white" class="text-none" to="/pages">Страницы</v-btn>
      <v-btn flat color="white" class="text-none" to="/services">Услуги</v-btn>
      <v-btn flat color="white" class="text-none" to="/products">Продукты</v-btn>
      <v-btn flat color="white" class="text-none" to="/menus">Меню</v-btn>
      <v-btn flat color="white" class="text-none" to="/infos">Инфо блоки</v-btn>
      <v-btn flat color="white" class="text-none" to="/files">Файлы</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<style scoped>
.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
</style>
