<template>
  <div class="uploader">
    <h3 class="uploader-caption">Загрузка файлов</h3>
    <div class="uploader-body">
      <v-snackbar v-model="snackbarShow" :timeout="snackbarTimeout" top="top" color="success">
        {{snackbarText}}
        <v-btn flat @click="snackbarShow = false" dark>Закрыть</v-btn>
      </v-snackbar>
      <slot v-if="value" v-bind:value="value" v-bind:filePath="filePath"></slot>
      <div class="uploader-actions">
        <input
          ref="file"
          class="uploader-action-file"
          type="file"
          name="file"
          :accept="accept"
        >
        <div v-if="fileInfo.name" class="uploader-action-fileinfo">
          <p>
            Name:
            <b>{{fileInfo.name}}</b>
          </p>
          <p>
            Size:
            <b>{{fileInfo.size}}</b>
          </p>
          <p>
            Changed:
            <b>{{fileInfo.lastModified}}</b>
          </p>
          <p>
            Type:
            <b>{{fileInfo.type}}</b>
          </p>
        </div>

        <div class="uploader-action-buttons">
          <v-btn v-if="!fileInfo.name" @click="choose" color="info" class="text-none" small>Выбрать</v-btn>
         <v-btn
            v-if="fileInfo.name"
            @click="upload"
            color="success"
            class="text-none"
            small
          >Загрузить</v-btn>
          <v-btn v-if="fileInfo.name" @click="cancel" class="text-none" small>Отмена</v-btn>
          <v-btn v-if="value" @click="removeFile" color="error" class="text-none" small>Удалить</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as API from '@/api'
import CONFIG from '@/config'
import { formatFileInfo } from '@/helpers/file'

const UPLOAD_API = '/files/upload'
const DELETE_API = '/files/delete'
const UPLOAD_API_HEADERS = { 'content-type': 'multipart/form-data' }
const UPLOAD_API_OPTIONS = { headers: UPLOAD_API_HEADERS }
const DEFAULT_FILE_INFO = {
  name: null,
  size: null,
  lastModified: null,
  type: null
}

export default {
  name: 'Uploader',
  props: {
    relativePath: {
      type: String,
      default: ''
    },
    preview: {
      type: Boolean,
      default: true
    },
    accept: {
      type: String,
      default: 'text/plain,.doc,.docx,application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,application/x-troff-msvideo,video/avi,video/msvideo,video/x-msvideo,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    }
  },
  data: () => ({
    value: '',
    fileInfo: { ...DEFAULT_FILE_INFO },
    snackbarShow: false,
    snackbarText: 'Message',
    snackbarTimeout: 3000
  }),
  created() {
    this.value = this.relativePath
  },
  mounted() {
    this.$refs.file.addEventListener('change', this.changeFile.bind(this))
  },
  computed: {
    filePath() {
      return CONFIG.serverHost + this.value
    }
  },
  methods: {
    changeFile() {
      const input = this.$refs.file
      if (input.files && input.files.length) {
        this.fileInfo = formatFileInfo(input.files[0])
      }
    },
    choose() {
      const input = this.$refs.file
      input.click()
    },
    cancel() {
      const input = this.$refs.file
      input.value = ''
      Vue.set(this, 'fileInfo', DEFAULT_FILE_INFO)
    },
    async upload() {
      const input = this.$refs.file
      if (input.files && input.files.length) {
        const formData = new FormData()
        formData.append(input.name, input.files[0])

        await API.fileUpload(UPLOAD_API, formData, UPLOAD_API_OPTIONS).then((response = {}) => {
          if (response.value) {
            this.value = response.value
            this.$emit('change', response.value)
            this.snackbarText = 'Успешно загружено'
            this.snackbarShow = true
            this.cancel()
          }
        })
      }
    },
    async removeFile() {
      await API.fileDelete(DELETE_API, this.value).then(() => {
        this.value = ''
        this.$emit('change', '')
        this.snackbarText = 'Файл успешно удален'
        this.snackbarShow = true
        this.cancel()
      })
    }
  }
}
</script>

<style scoped>
.uploader {
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  padding: 10px;
}

.uploader-caption {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 1;
}

.uploader-body {
  margin-top: 10px;
  display: flex;
}

.uploader-actions {
  display: flex;
  flex-direction: column;
}

.uploader-action-file {
  display: none;
}

.uploader-action-fileinfo {
  margin-left: 8px;
  margin-right: 8px;
}

.uploader-action-fileinfo p {
  margin-bottom: 0;
}
</style>
