<template>
  <v-flex pt-5>
    <h1>Добавление: {{noun}}</h1>
    <Create
      endPoint="/pages"
      @created="redirectToEdit"
      :key="$route.fullPath"
      schemaName="page-create"
    />
  </v-flex>
</template>

<script>
import Create from '@/components/Create'

export default {
  name: 'PageCreate',
  data: () => ({
    noun: 'Страницы'
  }),
  components: {
    Create
  },
  methods: {
    redirectToEdit(id) {
      if (id) {
        this.$router.push({ name: 'page-edit', params: { id } })
      }
    }
  }
}
</script>
