<template>
  <v-container fill-height>
    <v-layout align-center>
      <v-flex>
        <h3 class="display-3">CMS для сайта GBR75.ru</h3>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  name: 'Home'
}
</script>
