<template>
  <v-flex pt-5>
    <h1>Редактирование: {{noun}}</h1>
    <Edit endPoint="/menus" :id="$route.params.id" :key="$route.fullPath" schemaName="menu-edit"/>
  </v-flex>
</template>

<script>
import Edit from '@/components/Edit'

export default {
  name: 'MenuEdit',
  data: () => ({
    noun: 'Пункта меню'
  }),
  components: {
    Edit
  }
}
</script>
