<template>
  <v-flex pt-5>
    <v-layout align-start justify-space-between>
      <h1>{{title}}</h1>
      <v-btn :to="`${endPoint}/create`" color="primary" dark class="text-none">Добавить пункт меню</v-btn>
    </v-layout>
    <DataGrid
      :title="title"
      :endPoint="endPoint"
      :key="$route.fullPath"
      schemaName="menu-list"
      class="mt-4"
    />
  </v-flex>
</template>

<script>
import DataGrid from '@/components/DataGrid'

export default {
  name: 'Menus',
  components: {
    DataGrid
  },
  data: () => ({
    title: 'Меню',
    endPoint: '/menus'
  })
}
</script>
